.Nav-bar {
    background: #741fdb;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    border-bottom: solid black 2px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.Nav-bar__brand {
    margin: 10px 0px 0px 0px;
    vertical-align: middle;
}

.Nav-bar a {
    color: #4ce4e4;
    text-decoration: none;
}

.Nav-bar__container {
    width: 20%;
}

.Nav-bar__items {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-left: 0;
    /* margin-top: 16px;
    margin-bottom: 0px; */
}

.Nav-bar__items a:hover {
    color: white;
}

.selected {
    text-decoration: #4ce4e4 underline;
}

.vert-align {
    vertical-align: top;
}